.header {
    display: flex;
    padding: 26px 120px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--badges);
}

.logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--main);
}

.logo > span {
    color: var(--button);
}